/* TODO: Add css reset lol! */
body
{
   font-family: sans-serif;
   margin-top: 0;
   margin-bottom: 0;
   background-color: #454545;
   background-image: url('./background.jpg');
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}
.success
{
   color: green;
   text-shadow: 0 0 4px lightgreen;
}
.error
{
   color: red;
}
.container
{
   background-color: rgba(255,255,255,0.8);
   background-image: url('./background-blur.jpg');
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   width: 80%;
   margin: auto;
   padding: 0.5em;
   min-height: calc(100vh - 1em);
   box-shadow: 0 0 10px 0 black;
}
.float-cont
{
   position: relative;
   display: block;
   word-spacing: -100%;
}
.w-20
{
   width: 20%;
}
.w-40
{
   width: 40%;
}
.w-60
{
   width: 60%;
}
.w-80
{
   width: 80%;
}
.w-20, .w-40, .w-60, .w-80
{
   position: relative;
   display: inline-block;
   word-spacing: 0 !important;
}
.buttonbox
{
   width: 20%;
   float: right;
}
.textbox
{
   width: 80%;
   float: left;
}
.persons
{
   margin-right: 1em;
}
.drawbox
{
   width: 100%;
   border: 1px solid black;
}
.drawbox > *
{
   margin: 0.5em;
}
.drawbox .canvas
{
   background-color: white;
   text-align: center;
   /*width: calc(100% - 1em);*/
}
/*
#chatbox
{
   max-height: 20em;
   overflow-y: scroll;
   border: 1px solid #454545;
   border-bottom: none;
   padding: 0.5em;
   background-color: white;
   box-shadow: inset 0 1em 1em -1em black;
}
#chatbox p
{
   margin-top: 0;
}
*/
.w-20 > *, .w-40 > *, .w-60 > *, .w-80 > *
{
   width: 100%;
   word-wrap: break-word;
}
